.to-do-bg {
  background-color: $pinkMain;
}
.doing-bg {
  background-color: $yellowMain;
}
.done-bg {
  background-color: $greenMain;
}
.backlog-bg {
  background-color: $blueMain;
}

.to-do-bg-dark {
  background-color: $pinkDark;
}
.doing-bg-dark {
  background-color: $yellowDark;
}
.done-bg-dark {
  background-color: $greenDark;
}
.backlog-bg-dark {
  background-color: $blueDark;
}
