.submit-button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 1.125rem;
  margin: 10px 10px;

  &.btn-color-default {
    background-color: $pinkDark;
    border: 1px solid $pinkDark;
  }

  &.btn-color-todo {
    background-color: $pinkDark;
    border: 1px solid $pinkDark;
  }

  &.btn-color-doing {
    background-color: $yellowDark;
    border: 1px solid $yellowDark;
  }

  &.btn-color-done {
    background-color: $greenDark;
    border: 1px solid $greenDark;
  }

  &.btn-color-backlog {
    background-color: $blueDark;
    border: 1px solid $blueDark;
  }

  &:active, &:hover {
    width: 120px;
    height: 40px;
    outline: none;
    background-color: white;
    &.btn-color-default {
      color: $pinkDark;
      border: 1px solid $pinkDark;
    }
  
    &.btn-color-todo {
      color: $pinkDark;
      border: 1px solid $pinkDark;
    }
  
    &.btn-color-doing {
      color: $yellowDark;
      border: 1px solid $yellowDark;
    }
  
    &.btn-color-done {
      color: $greenDark;
      border: 1px solid $greenDark;
    }
  
    &.btn-color-backlog {
      color: $blueDark;
      border: 1px solid $blueDark;
    }
  }

}

.submit-button:focus {
  outline: none;
}

.cancel-button {
  color: white;
  width: 120px;
  height: 40px;
  font-size: 1.125rem;
  margin: 10px 10px;

  &.btn-color-default {
    background-color: $pinkMain;
    border: 1px solid $pinkMain;
  }

  &.btn-color-todo {
    background-color: $pinkMain;
    border: 1px solid $pinkMain;
  }

  &.btn-color-doing {
    background-color: $yellowMain;
    border: 1px solid $yellowMain;
  }

  &.btn-color-done {
    background-color: $greenMain;
    border: 1px solid $greenMain;
  }

  &.btn-color-backlog {
    background-color: $blueMain;
    border: 1px solid $blueMain;
  }

  &:active, &:hover {
    width: 120px;
    height: 40px;
    outline: none;
    background-color: white;
    &.btn-color-default {
      color: $pinkMain;
      border: 1px solid $pinkMain;
    }
  
    &.btn-color-todo {
      color: $pinkMain;
      border: 1px solid $pinkMain;
    }
  
    &.btn-color-doing {
      color: $yellowMain;
      border: 1px solid $yellowMain;
    }
  
    &.btn-color-done {
      color: $greenMain;
      border: 1px solid $greenMain;
    }
  
    &.btn-color-backlog {
      color: $blueMain;
      border: 1px solid $blueMain;
    }
  }
}

// .cancel-button {
//   background-color: #866768;
//   color: white;
//   border: 1px solid #866768;
//   width: 120px;
//   height: 40px;
//   font-size: 1.125rem;
//   margin: 10px 10px;
// }

// .cancel-button:active,
// .cancel-button:hover {
//   background-color: white;
//   color:  #866768;
//   border: 1px solid #866768;
//   width: 120px;
//   height: 40px;
//   outline: none;
// }

.cancel-button:focus {
  outline: none;
}
