.item-outer-container {
  margin: 5px;
}

.item-inner-container {
  &:hover {
    &.todo-item-bg{
      background-color: $pinkLight;
    }
    &.doing-item-bg {
      background-color: $yellowLight;
    }
    &.done-item-bg {
      background-color: $greenLight;
    }
    &.backlog-item-bg{
      background-color: $blueLight;
    }

    & hr {
      display: none;
    }
  }
}

.item {
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
hr {
  width: 100%;
  color: #4b4b4b;
}

.grey-space {
  flex-grow: 1;
  background-color: #f4f4f4;
}
