
// @import './variables';

.main-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.main-row {
  display: flex;
  flex-wrap: wrap;
}
.summary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
}
.to-do-summary {
  background-color: $pinkMain;
}
.doing-summary {
  background-color: $yellowMain;
}
.done-summary {
  background-color: $greenMain;
}
.backlog-summary {
  background-color:  $blueMain;
}
.summary-title {
  font-size: 2rem;
  color: $blackHeaderBg;
}
.summary-circle {
  background-color:$SummaryCircleBg;
  border-radius: 50%;
  position: relative;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-section.active {
  height: 100%;
  width: 100%;
  transition: all 0.15s ease-in-out;
}

.summary-section.inactive {
  height: 0px;
  width: 0px;
  overflow: hidden;
  transition: all 0.15 ease-in-out;
}

.to-do-summary-circle {
  border: solid $pinkDark 1.25rem;
}
.doing-summary-circle {
  border: solid $yellowDark 1.25rem;
}
.done-summary-circle {
  border: solid $greenDark 1.25rem;
}
.backlog-summary-circle {
  border: solid $blueDark 1.25rem;
}
.summary-count {
  font-size: 2rem;
  color: $black;
}
