// colors
$pinkMain: #F78888;
$pinkDrak: #ff7070;
$yellowMain: #F3D250;
$yellowDark: #ecbd00;
$greenMain: #4dc461;
$greenDark: #2bbd44;
$blueMain: #0087d6;
$blueDark: #0076bb;
$cancelBtnColor: #866768;
$blackHeaderBg: #000000;
$black: black;
$blackFrontNavBg: #171717;
$darkFormbg: #484848;
$white: white;
$blackOverlayBg: #020202a1;
$tickColor: #2541ff;

// font
$mainFont: 'Galada';
$mainFontFallBack: cursive;
$secondaryFont: 'Source Sans Pro';
$secondaryFontFallBack: sans-serif;
$SummaryCircleBg: #ECECEC;


