// colors
$pinkMain: #F78888;
$pinkDark: #ff7070;
$pinkLight: #ffd9d9;
$yellowMain: #F3D250;
$yellowDark: #ecbd00;
$yellowLight: #ffeda4;
$greenMain: #4dc461;
$greenDark: #2bbd44;
$greenLight: #a8ffb7;
$blueMain: #0087d6;
$blueDark: #0076bb;
$blueLight: #aee1ff;
$cancelBtnColor: #866768;
$blackHeaderBg: #000000;
$black: black;
$blackLighter: #070707;
$blackFrontNavBg: #131313;
$darkFormbg: #484848;
$white: white;
$blackOverlayBg: #020202a1;
$tickColor: #2541ff;

// font
$mainFont: 'Galada';
$mainFontFallBack: cursive;
$secondaryFont: 'Source Sans Pro';
$secondaryFontFallBack: sans-serif;
$SummaryCircleBg: #ECECEC;


